body
{
    background-color: #1f523a;
}
#wrapper
{
    border: 1px solid #031b09;
    background-color: rgb(53, 124, 57);
    min-height: 100%;
    margin: 5px;
}
.header
{
    border: 1px solid #031b09;
    background-color: #ecf5eb;
    height: 300px
}
.main-navigatiom 
{
   background-color: #1f523a;
   height: 70px;
   text-align: center;
   color: #bdd3c6;
    
}
.main-navigation a 
{
   text-align: center;
   color: #bdd3c6;
   text-decoration: underline;
}
.main-navigation a:hover
{
    text-decoration: none;
}